.display {
  border: 2px solid var(--color2);
  background-color: var(--color-u-1);
  /* width: 450px; */
  /* width: 350px; */
  width: 100%;

  /* background-color: burlywood; */
  /* color: black; */

  border-radius: 20px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 10px;

  --fontSize: 30px;
  font-size: var(--fontSize);
}

.label {
  color: var(--color3);
}

.data {
  color: var(--color4);
}

.first {
  border-bottom: 1px solid var(--color2);
  text-align: center;
  padding: 10px;
  font-size: calc(1.3 * var(--fontSize));

  overflow: hidden;
  text-overflow: ellipsis;

  color: var(--color1);
  text-shadow: 0px 0px var(--fontSize) var(--color1);
}

.first:focus {
  outline: none;
}

.second {
  /* border: 1px solid white; */
  padding: 0px 10px;

  display: flex;
  justify-content: center;
  gap: 25px;
}

.second .itemC {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.third {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;

  padding: 0px 10px;
}

.third .itemC {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  /* gap: 50px; */
}

.fourth {
  /* border: 1px solid white; */
  padding: 0px 10px;
  font-size: calc(0.6 * var(--fontSize));

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fourth > div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}

.fifth {
  border-top: 1px solid var(--color2);
  text-align: center;
  padding: 10px;

  font-size: calc(1.25 * var(--fontSize));

  color: var(--color1);

  text-shadow: 0px 0px var(--fontSize) var(--color1);
}

.sixth {
  font-size: calc(0.5 * var(--fontSize));
  display: flex;
  justify-content: center;
  color: var(--color3);
}

.downloadButton {
  height: 40px;
  /* width: 200px; */
  padding: 0px 0px 0px 5px;
  border-radius: 10px;
  border: none;

  display: flex;
  align-items: center;
  gap: 5px;

  background-color: var(--color2);
  color: var(--color-u-1);
  color: var(--color3);

  background-image: linear-gradient(
    90deg,
    var(--color2) 0%,
    var(--color1) 120%
  );
}


@media all and (max-width: 460px) {
  .display {
    --fontSize: 28px ;
  }
}

@media all and (max-width: 420px) {
  .display {
    --fontSize: 25px ;
  }
}
